<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Miestai</title>
    </head>
    <body>
    <ul>
        <li><p th:text="${id}"> Some text here</p></li>
        <li><p th:text="${name}"> Some text here</p></li>
        <li><p th:text="${country_code}"> Some text here</p></li>
        <li><p th:text="${district}"> Some text here</p></li>
        <li><p th:text="${population}"> Some text here</p></li>
    </ul>
    </body>
</html>