<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cities list</title>
    </head>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
    <body>
    <table id="cityDataTable" class="table">
        <tr>
            <th class="th">#</th>
            <th class="th">id</th>
            <th class="th">Name</th>
            <th class="th">Country Code</th>
            <th class="th">District</th>
            <th class="th">Population</th>
        </tr>
        <tr th:each="city : ${cities_list}">
            <td class="td" th:text="${cityStat.index+1}"></td>
            <td class="td" th:text="${city.id}"></td>
            <td class="td" th:text="${city.name}"></td>
            <td class="td" th:text="${city.countryCode}"></td>
            <td class="td" th:text="${city.district}"></td>
            <td class="td" th:text="${city.population}"></td>

        </tr>
    </table>
    </body>
</html>